@font-face {
  font-family: "iconfont"; /* Project id 4133503 */
  src: url('iconfont.woff2?t=1713150129496') format('woff2'),
       url('iconfont.woff?t=1713150129496') format('woff'),
       url('iconfont.ttf?t=1713150129496') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-controlplatform:before {
  content: "\e641";
}

.icon-jushoucang:before {
  content: "\e643";
}

.icon-schema:before {
  content: "\e64a";
}

.icon-add-rectangle:before {
  content: "\e630";
}

.icon-weibiaoti-:before {
  content: "\e601";
}

.icon-beta-yeps:before {
  content: "\e64c";
}

.icon-Beta:before {
  content: "\e605";
}

.icon-bizui:before {
  content: "\e60a";
}

.icon-fayinlianxi:before {
  content: "\e61f";
}

.icon-file:before {
  content: "\e672";
}

.icon-fujian:before {
  content: "\e856";
}

.icon-shuangyinhaoyou:before {
  content: "\e853";
}

.icon-csdn:before {
  content: "\e600";
}

.icon-playcircle:before {
  content: "\e80f";
}

.icon-weixin:before {
  content: "\e637";
}

.icon-360safeforcnos:before {
  content: "\e603";
}

.icon-shejiaotubiao-46:before {
  content: "\e64b";
}

.icon-icon-xiaomiguishu:before {
  content: "\e613";
}

.icon-chevron-down:before {
  content: "\e638";
}

.icon-remove:before {
  content: "\e65c";
}

.icon-view-list:before {
  content: "\e667";
}

.icon-a-zu1274:before {
  content: "\e705";
}

.icon-close1:before {
  content: "\e6e9";
}

.icon-fenleiorguangchangorqitatianchong:before {
  content: "\e67d";
}

.icon-user-add:before {
  content: "\e666";
}

.icon-add:before {
  content: "\e62f";
}

.icon-setting:before {
  content: "\e65e";
}

.icon-picture:before {
  content: "\e676";
}

.icon-option-vertical:before {
  content: "\e6d6";
}

.icon-heart-filled:before {
  content: "\e644";
}

.icon-heart:before {
  content: "\e645";
}

.icon-guanji:before {
  content: "\e62c";
}

.icon-audio-fill:before {
  content: "\e897";
}

.icon-jiaoliu:before {
  content: "\e6b8";
}

.icon-logout:before {
  content: "\e657";
}

.icon-key:before {
  content: "\e640";
}

.icon-tubiao:before {
  content: "\e60e";
}

.icon-fuhao-tongzhi:before {
  content: "\e729";
}

.icon-chart-pie:before {
  content: "\e635";
}

.icon-info-circle:before {
  content: "\e647";
}

.icon-lightning:before {
  content: "\e655";
}

.icon-zhifuchenggong:before {
  content: "\e663";
}

.icon-zhifushibai:before {
  content: "\e665";
}

.icon-hongdianxiaoxi:before {
  content: "\e604";
}

.icon-mutil-star-fill:before {
  content: "\e6a0";
}

.icon-home:before {
  content: "\e646";
}

.icon-link-unlink:before {
  content: "\e648";
}

.icon-share:before {
  content: "\e660";
}

.icon-lianjieshixiao:before {
  content: "\e6c5";
}

.icon-close:before {
  content: "\e63b";
}

.icon-chrome:before {
  content: "\e610";
}

.icon-theme-light-dark:before {
  content: "\e8e3";
}

.icon-checkbox-weixuan:before {
  content: "\e8b5";
}

.icon-checkbox-xuanzhong:before {
  content: "\e8b6";
}

.icon-VIP:before {
  content: "\e876";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-user-avatar-fill:before {
  content: "\e6a6";
}

.icon-code1:before {
  content: "\e669";
}

.icon-question:before {
  content: "\e67c";
}

.icon-tubiao-fanyi:before {
  content: "\e61c";
}

.icon-fasong:before {
  content: "\e642";
}

.icon-undo:before {
  content: "\e609";
}

.icon-Chat:before {
  content: "\e678";
}

.icon-columns:before {
  content: "\e6a5";
}

.icon-history:before {
  content: "\e79f";
}

.icon-file-copy:before {
  content: "\e63d";
}

.icon-delete:before {
  content: "\e63c";
}

.icon-edit:before {
  content: "\e63e";
}

.icon-code:before {
  content: "\e63f";
}

.icon-refresh:before {
  content: "\e659";
}

.icon-rollback:before {
  content: "\e65a";
}

.icon-jiantou_liebiaozhankai_o:before {
  content: "\eb8b";
}

.icon-option-horizontal:before {
  content: "\e6d5";
}

.icon-zhibiaozhushibiaozhu2:before {
  content: "\e7b3";
}

.icon-xingnengtongji:before {
  content: "\e68d";
}

.icon-ic_style:before {
  content: "\ea37";
}

.icon-anquanbaozhang:before {
  content: "\e88c";
}

.icon-dkw_tisheng:before {
  content: "\e60d";
}

.icon-wenhao:before {
  content: "\e671";
}

.icon-clean:before {
  content: "\e664";
}

.icon-daima:before {
  content: "\e631";
}

.icon-ceshi:before {
  content: "\e624";
}

